<mat-drawer-container class="example-container" autosize>
  <!-- <mat-drawer #matDrawer class="example-sidenav" mode="side" [opened]="isSidenavOpened"> -->
  <mat-drawer #matDrawer class="example-sidenav" mode="side">
    <!-- <p>Auto-resizing sidenav</p> -->
    <!-- <button mat-raised-button>
      Toggle extra text
    </button> -->
    <!-- <div #viewport></div> -->
    <ng-container #viewport></ng-container>
  </mat-drawer>

  <div #divElement class="example-sidenav-content">
    <button #matButton type="button" mat-button (click)="toggleSidenavOpened()">
      Toggle sidenav
    </button>
    <!-- <button type="button" mat-button (click)="toggleSidenavOpened()">
      Toggle sidenav
    </button> -->
  </div>

</mat-drawer-container>