<ng-container *ngIf="templateContent$ | async as templateContent">
  <button mat-mini-fab class="close-button" (click)="onPopupClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="wrapper">
    <ng-container *ngTemplateOutlet="templateContent.template; context: templateContent.context"></ng-container>
  </div>
</ng-container>
<ng-template #templateTest>
  <div style="background-color: aqua; height: 100px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Accusantium, rerum.</div>
</ng-template>