<!-- <ng-template #template [appDumpNgIf]="products" let-default="$implicit" let-surName="dumpNgIf">
  {{ default }}
  <h3>{{ surName }}</h3>
</ng-template> -->
<ng-template [ngIf]="products" [ngIfElse]="loaderTemplate" let-productsFromNgIf="ngIf">
  <!-- <div class="scroll__wrapper" appScrollWithLoading (loadData)="onLoad($event)"> -->
  <div class="scroll__wrapper" appTestFromEvent (loadData)="onLoad($event)">
    <app-card class="card" [product]="productsFromNgIf[0]" (buyProduct)="onBuyProduct($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[1]" (buyProduct)="onBuyProduct($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[2]" (buyProduct)="onBuyProduct($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[3]" (buyProduct)="onBuyProduct($event)"></app-card>
    <app-card class="card" [product]="productsFromNgIf[4]" (buyProduct)="onBuyProduct($event)"></app-card>
  </div>
</ng-template>

<ng-template #loaderTemplate>
  <!-- <mat-spinner></mat-spinner> -->
</ng-template>