<!-- <ng-template #template [appDumpNgIf]="products" let-default="$implicit" let-surName="dumpNgIf">
  {{ default }}
  <h3>{{ surName }}</h3>
</ng-template> -->

<!-- <ng-template [ngIf]="products" [ngIfElse]="loaderTemplate" let-productsFromNgIf="ngIf"> -->

<div *ngIf="(products$ | async) as products; else: loaderTemplate;" class="scroll__wrapper" appScrollWithLoading
  (loadData)="onLoad($event)">
  <!-- <div *appDumpNgIf="products as productsFromNgIf;" class="scroll__wrapper"> -->
  <!-- <div class="scroll__wrapper" appTestFromEvent (loadData)="onLoad($event)"> -->
  <ng-container *appPagination="
                let productsGroup of products;
                chankSize: 3;
                let pageIndexes = pageIndexes;
                let activeIndex = index;
                let next = next;
                let back = back;
                let selectIndex = selectIndex">
    <div class="cards">
      <app-card *ngFor="let product of productsGroup trackBy: trackById" class="card" [product]="product"
        (buyProduct)="onBuyProduct($event)">
      </app-card>
    </div>
    <div class="pagination">
      <button mat-icon-button (click)="back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="pagination__page-number-container">
        <button *ngFor="let index of pageIndexes" mat-icon-button class="pagination__page-number"
          [class.pagination__page-number_active]="activeIndex === index" (click)="selectIndex(index)">
          {{ index + 1 }}
        </button>
      </div>
      <button mat-icon-button (click)="next()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
<!-- </ng-template> -->

<ng-template #loaderTemplate>
  <mat-spinner></mat-spinner>
</ng-template>